#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  z-index: 10;
  position: relative;
}

#search {
  width: 35%;
}

.financing {
  color: whitesmoke;
  text-decoration: underline;
}
.financing:hover {
  color: whitesmoke;
}
